* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #c28f97;
    border-radius: 20px;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 600px;
    width: 100%;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

input[type="text"],
input[type="number"],
button {
    width: calc(100% - 20px);
    margin-bottom: 20px;
    padding: 15px;
    border: none;
    border-radius: 30px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    transition: all 0.3s ease;
    font-size: 18px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    outline: none;
}

input[type="text"]:focus,
input[type="number"]:focus {
    border-color: #007bff;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
    margin-top: 30px;
}

li {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    position: relative;
}

li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #f9f9f9;
}

.back-btn {
    border: none;
    outline: none;
    padding: 8px;
    width: 300px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 5px;
    background: #140805;
}

.back-btn:hover {
    text-decoration:solid;
}

@media screen and (max-width: 600px) {
    .container {
        padding: 20px;
    }
}